[submodule "BDDExample/Vendor/Quick"]
	path = BDDExample/Vendor/Quick
	url = https://github.com/Quick/Quick.git
[submodule "BDDExample/Vendor/Nimble"]
	path = BDDExample/Vendor/Nimble
	url = https://github.com/Quick/Nimble.git
